<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=600px">
        <style type="text/css">
            {{{style}}}
        </style>
    </head>
    <body>
        <h1>Converjon – Demo</h1>
        <p>
            <em>Note: Most images on this page are displayed at half size to accomodate high resolution diplays</em>
        </p>

        <ul class="toc">
            <li><a href="#livecrop">Live Cropping Demo</a></li>
            <li><a href="#resize">Simple Resizing</a></li>
            <li><a href="#quality">Adjusting Quality</a></li>
            <li><a href="#dpi">Low and High DPI versions</a></li>
            <li><a href="#colors">GIF Colors</a></li>
            <li><a href="#center_cropping">Center Cropping</a></li>
            <li><a href="#coverage_cropping">AOI Coverage Cropping</a></li>
            <li><a href="#emphasis_cropping">AOI Emphasis Cropping</a></li>
            <li><a href="#auto_cropping">AOI Automatic Cropping</a></li>
        </ul>


        <section>
            <h2 id="livecrop">Cropping demo (live)</h2>
            <div class="columns">
                <section class="live-controls">
                    <div class="image">
                            <img id="image-live-source" class="image-live-source" src="{{url_original}}" alt="source image for live cropping" />
                        <div>
                        </div>
                    </div>
                    <div>
                        <label for="cropmode">Crop Mode</label>
                        <select id="cropmode">
                            <option value="center">Center</option>
                            <option value="aoi_coverage">AOI Coverage</option>
                            <option value="aoi_emphasis">AOI Emphasis</option>
                            <option value="aoi_auto" selected>AOI Auto</option>
                        </select>
                        <div>Source image: <output id="image-live-source-info"></output></div>
                    </div>
                </section>
                <section>
                    <div class="image">
                        <div>
                            <img id="image-live" class="image-live" src="{{base}}{{url3}}&width=300&height=300" alt="resulting image of live cropping" />
                        </div>
                    </div>
                    <div>
                        <label for="image-live-width-input">Width</label>
                        <input type="number" step="10" min="20" max="3000" value="300" id="image-live-width-input" autocomplete="off" />
                        <label for="image-live-height-input">Height</label>
                        <input type="number" step="10" min="20" max="3000" value="300" id="image-live-height-input" autocomplete="off" />
                        <div>Cropped image: <output id="image-live-info"></output></div>
                    </div>
                </section>
            </div>
        </section>
        <div class="columns">
            <section>
                <h2 id="resize">Simple Resizing</h2>
                <div class="image"><div>
                    <img width="100" src="{{base}}{{url3}}&width=200" alt="200px"/>
                </div></div>
                <div class="image"><div>
                    <img width="200" src="{{base}}{{url3}}&width=400" alt="400px"/>
                </div></div>
                <div class="image"><div>
                    <img width="300" src="{{base}}{{url3}}&width=600" alt="600px"/>
                </div></div>

                <h2 id="quality">Adjusting Quality</h2>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url3}}&width=800&quality=10" alt="low quality"/>
                </div></div>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url3}}&width=800&quality=80" alt="high quality"/>
                </div></div>

                <h2 id="dpi">Low and High DPI versions</h2>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url3}}&width=400" alt="low dpi"/>
                </div></div>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url3}}&width=800" alt="high dpi"/>
                </div></div>

                <h2 id="colors">GIF Colors</h2>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url3}}&width=800&format=gif" alt="high colors"/>
                </div></div>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url3}}&width=800&format=gif&colors=15" alt="low colors"/>
                </div></div>
            </section><!--

            --><section>
                <h2 id="center_cropping">Center Cropping</h2>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url3}}&width=800&height=300&crop=center" alt="center crop 1"/>
                </div></div>
                <div class="image"><div>
                    <img width="100" src="{{base}}{{url3}}&width=200&height=400&crop=center" alt="center crop 2"/>
                </div></div>

                <h2 id="coverage_cropping">AOI Coverage Cropping</h2>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url3}}&width=800&height=300&crop=aoi_coverage" alt="aoi coverage crop 1"/>
                </div></div>
                <div class="image"><div>
                    <img width="150" src="{{base}}{{url3}}&width=300&height=400&crop=aoi_coverage" alt="aoi coverage crop 2"/>
                </div></div>

                <h2 id="emphasis_cropping">AOI Emphasis Cropping</h2>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url3}}&width=800&height=300&crop=aoi_emphasis" alt="aoi emphasis crop 1"/>
                </div></div>
                <div class="image"><div>
                    <img width="150" src="{{base}}{{url3}}&width=300&height=400&crop=aoi_emphasis" alt="aoi emphasis crop 2"/>
                </div></div>

                <h2 id="auto_cropping">AOI Automatic Cropping</h2>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url1}}&width=2000&height=1500&crop=aoi_auto" alt="aoi auto crop 1"/>
                </div></div>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url1}}&width=1400&height=1000&crop=aoi_auto" alt="aoi auto crop 2"/>
                </div></div>
                <div class="image"><div>
                    <img width="400" src="{{base}}{{url1}}&width=800&height=500&crop=aoi_auto" alt="aoi auto crop 2"/>
                </div></div>

            </section>
        </div>

        <footer>
            <a href="https://github.com/berlinonline/converjon">Converjon on Github</a>
        </footer>

        <script src="http://lnwdr.github.io/selectrect/selectrect.js"></script>
        <script>
            function setup() {
                var liveimage = document.getElementById("image-live");
                var liveimage_source = document.getElementById("image-live-source");
                var cropmode_input = document.getElementById("cropmode");
                var liveimage_source_info_element = document.getElementById("image-live-source-info");
                var liveimage_info_element = document.getElementById("image-live-info");
                var liveimage_width_element = document.getElementById("image-live-width-input");
                var liveimage_height_element = document.getElementById("image-live-height-input");
                var aoi_str;

                liveimage_source_info_element.innerHTML = liveimage_source.naturalWidth + 'x' + liveimage_source.naturalHeight +
                    ' displayed at ' + liveimage_source.width + 'x' + liveimage_source.height;

                var select = selectrect(liveimage_source, {x: 20, y: 20, w: 100, h: 100});

                function update() {
                    var cropmode = cropmode_input.value;
                    var height = +liveimage_height_element.value || 300;
                    var width = +liveimage_width_element.value || 300;
                    liveimage.src = "{{base}}{{url3}}&width="+width+"&height="+height+"&aoi="+aoi_str+"&crop="+cropmode;
                    liveimage.onload = function() {
                        liveimage_info_element.innerHTML = liveimage.naturalWidth + 'x' + liveimage.naturalHeight +
                            ' displayed at ' + liveimage.width + 'x' + liveimage.height;
                    }
                }

                select.onUpdate(function(aoi) {
                    aoi_str = [
                        aoi.x,
                        aoi.y,
                        aoi.w,
                        aoi.h
                    ].join(",");

                    update();
                });

                cropmode_input.onchange = update;
                liveimage_width_element.onchange = update;
                liveimage_height_element.onchange = update;
            }

            window.onload = setup;
        </script>
    </body>
</html>
